*.o
*.so
*.moc
*.pyc
*.svg
*.xml
*.gz
*.htm
*.html
*.dmg
*.qch
*.qhc
*~
*.kate-swp
*-master.tar.*
.~lock*
.directory
.DS_*
perf.data
perf.data.old
gmon.out
takin.txt
takin.mk
montereso.txt
montereso.mk
monteconvo.txt
monteconvo.mk
scanviewer.txt
scanviewer.mk
tango-icon-theme*.tar.gz
takin.log
Faddeeva.*

ui/*.h
Debug/*
Release/*
build/*
takin.app/*
.clang/*
.codelite/*
.settings/*

CMakeFiles/*
CMakeCache.txt
cmake_install.cmake
Makefile

tmp
tmp/**

tlibs
tlibs/*

data
data/*

takin-data
takin-data/*

bin/*
!bin/.dir

externals/*
!externals/.dir

obj/*
!obj/.dir

plugins/*
!plugins/.dir

pymods/*
!pymods/.dir

3rdparty/*
3rdparty_licenses/*
!3rdparty/.dir
!3rdparty_licenses/.dir

res/data/*
res/doc/**
res/icons/*
!res/icons/brillouin.svg
!res/icons/ellipses.svg
!res/icons/goto.svg
!res/icons/q.svg
!res/icons/takin.svg
!res/.dir
!res/icons/.dir
!res/data/.dir
!res/doc/.dir

!doc/index_help.html
!doc/toc.html
!doc/takin.html
!doc/build.html
!doc/setup.html
!doc/basics.html
!doc/reso.html
!doc/convo.html
!doc/fit.html
!doc/reso-sqw.html
!doc/reso-sqw-native.html
!doc/reso-sqw-py.html
!doc/reso-sqw-jl.html
!doc/tutorials.html
doc/devel/**
!doc/devel/.dir
!doc/.dir
